appdirs==1.4.4
certifi==2024.7.4
charset-normalizer==2.0.10
docker==5.0.3
idna==3.7
Jinja2==3.1.5
MarkupSafe==2.0.1
psycopg2-binary==2.9.3
requests==2.31.0
six==1.16.0
urllib3==1.26.19
websocket-client==1.2.3
zope.exceptions==4.4
zope.interface==5.4.0
zope.testrunner==5.4.0
