appdirs==1.4.4
certifi==2026.1.4
charset-normalizer==3.4.4
docker==7.1.0
idna==3.11
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==26.0
psycopg2-binary==2.9.11
requests==2.32.5
urllib3==2.6.3
zope.exceptions==6.0
zope.interface==8.2
zope.testrunner==8.2
