---
name: Integration tests
on:
  pull_request: ~
  push:
    branches:
      - master

jobs:
  test:
    name: Integration tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install requirements
        run: python -m pip install -r ./requirements.txt

      - name: Generate Dockerfile & run tests
        run: |
          VERSION=$(curl -s https://crate.io/versions.json | grep crate_testing | tr -d '" ' | cut -d ":" -f2)
          ./update.py --cratedb-version ${VERSION} > Dockerfile
          PATH_TO_IMAGE=. zope-testrunner --path . -s tests --color
