---
name: Integration tests
on:
  pull_request: ~
  push:
    branches:
      - master
  workflow_dispatch:
  schedule:
    - cron: '0 4 * * *'

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  test:
    name: Integration tests
    strategy:
      matrix:
        runner: [ubuntu-latest, ubuntu-24.04-arm]
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install requirements
        run: python -m pip install -r ./requirements.txt

      - name: Generate Dockerfile & run tests
        run: |
          VERSION=$(curl -s https://cratedb.com/versions.json | grep crate_testing | tr -d '" ' | cut -d ":" -f2)
          ./update.py --cratedb-version ${VERSION} > Dockerfile
          PATH_TO_IMAGE=. zope-testrunner --path . -s tests --color
